@model IEnumerable<SmallStructuresTakeOffs.Models.ResultsVM>
@{
    ViewData["Title"] = "Results";
}
<dl class="row">
    <dt class="m-lg-3" style="display:inline">Project:</dt>
    <dd class="m-3" style="display:inline">@ViewBag.ProjectName</dd>
</dl>

<h3>Results</h3>

@if (Model.Count() == 0)
{
    <div class="row">
        <div class="col text-center p-4"><h3>No Data!</h3></div>
    </div>
}
else
{
    <table class="table table-responsive-sm">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ResVMHWcode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ResVMHWDescription)
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.ResVMPourBottomCY)
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.ResVMPourWallCY)
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.ResVMRebNo4Req)
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.ResVMRebNo4Purch)
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.ResVMFormFab)
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.ResVMFormBase)
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.ResVMFormWall)
                </th>
                @*<th>ACTIONS</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @*<td>
            @Html.DisplayFor(modelItem => item.ResVMId)
            </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.ResVMHWcode)
                    </td>
                    @*<td>
            @Html.DisplayFor(modelItem => item.ResVMHWStrId)
            </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.ResVMHWDescription)
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.ResVMPourBottomCY)
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.ResVMPourWallCY)
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.ResVMRebNo4Req)
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.ResVMRebNo4Purch)
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.ResVMFormFab)
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.ResVMFormBase)
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.ResVMFormWall)
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td>Total</td>
                <td class="text-right" colspan="2">@Model.Sum(i => i.ResVMPourBottomCY).ToString("0.00")</td>
                <td class="text-right" colspan="1">@Model.Sum(i => i.ResVMPourWallCY).ToString("0.00")</td>
                <td class="text-right" colspan="1">@Model.Sum(i => i.ResVMRebNo4Req).ToString("0.00")</td>
                <td class="text-right" colspan="1">@Model.Sum(i => i.ResVMRebNo4Purch).ToString("0.00")</td>
                <td class="text-right" colspan="1">@Model.Sum(i => i.ResVMFormFab).ToString("0.00")</td>
                <td class="text-right" colspan="1">@Model.Sum(i => i.ResVMFormBase).ToString("0.00")</td>
                <td class="text-right" colspan="1">@Model.Sum(i => i.ResVMFormWall).ToString("0.00")</td>
            </tr>
        </tfoot>
    </table>
}
<div>
    <hr />
    <a asp-action="Index" asp-route-id="@ViewBag.ProjectId">Back to List</a>
</div>





