@model IEnumerable<SmallStructuresTakeOffs.Models.SmallStructure>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ThisStructure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HWcode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ThisStructure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HWcode)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SmStId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SmStId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SmStId">Delete</a>
                </td>
            </tr>
        }


    </tbody>
</table>

<div>
    <a asp-action="Results">Results</a>
</div>

