@model IEnumerable<SmallStructuresTakeOffs.RebarRequest>

@{
    ViewData["Title"] = "Rebar Requests";
}

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.ProjectId">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RebarRequestNomination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RebarRequestQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RebarRequestLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RebReqDescription)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.GroupBy(g => g.Structure).OrderBy(o => o.Key))
        {
            <tr>
                <td class="text-uppercase font-weight-bold">
                    @Html.DisplayFor(modelIem => item.Key)
                </td>
            </tr>
            foreach (var r in item.OrderBy(o => o.RebarRequestId))
            {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => r.RebarRequestNomination)
        </td>
        <td>
            @Html.DisplayFor(modelItem => r.RebarRequestQty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => r.RebarRequestLength)
        </td>
        <td>
            @Html.DisplayFor(modelItem => r.RebReqDescription)
        </td>

        <td>
            <a asp-action="Edit" asp-route-id="@r.RebarRequestId">Edit</a> |
            @*<a asp-action="Details" asp-route-id="@r.RebarRequestId">Details</a> |*@
            <a asp-action="Delete" asp-route-id="@r.RebarRequestId">Delete</a>
        </td>
    </tr>
            }
            @*<tr>
                    <td class="text-right" colspan="1">Sub-Total</td>
                    <td class="text-right" colspan="2">@Model.Where(g => g.ResourceVMType == item.Key).Sum(i => i.ResourceVMAmount).ToString("c")</td>
                </tr>*@
        }
    </tbody>
    @*<tfoot>
            <tr>
                <td>Total (Directs + Indirects)</td>
                <td class="text-right" colspan="5">@Model.Sum(i => i.ResourceVMAmount).ToString("c")</td>
            </tr>
        </tfoot>*@
</table>

<div>
    <a class="btn-primary" asp-action="Details" asp-controller="Projects" asp-route-id="@ViewBag.ProjectId">To Project Actions</a>
    <a class="btn-primary" asp-action="Results" asp-controller="RebarRequests" asp-route-id="@ViewBag.ProjectId">Rebar Results</a>
</div>
