@model SmallStructuresTakeOffs.Models.SD630Headwall

@{
    ViewData["Title"] = "Details";
}
<h4>@Model.GetType().Name</h4>
<p class="m-3" style="display:inline">@Html.DisplayNameFor(Model => Model.HWCode)</p>
<p class="m-3" style="display:inline">@ViewBag.HWCode</p>


<hr />
<dl class="row">
    <dt class="m-3" style="display:inline">Pour Base</dt>
    <dd class="m-3" style="display:inline">@ViewBag.PourBase</dd>
    <dt class="m-3" style="display:inline">Pour Wall</dt>
    <dd class="m-3" style="display:inline">@ViewBag.PourWall</dd>
</dl>
<dl class="row">
    <dt class="m-3" style="display:inline">Form Fabrication</dt>
    <dd class="m-3" style="display:inline">@ViewBag.FormFab</dd>
    <dt class="m-3" style="display:inline">Form Base</dt>
    <dd class="m-3" style="display:inline">@ViewBag.FormBase</dd>
    <dt class="m-3" style="display:inline">Form Wall</dt>
    <dd class="m-3" style="display:inline">@ViewBag.FormWall</dd>
</dl>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SD630Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SD630Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PipeNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PipeNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SD630_I_D)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SD630_I_D)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SD630_A)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SD630_A)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SD630_B)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SD630_B)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SD630_C)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SD630_C)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SD630_D)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SD630_D)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SD630_E)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SD630_E)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SD630_F)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SD630_F)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SD630_G)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SD630_G)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SD630_L)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SD630_L)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RebNo4Req)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RebNo4Req)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RebNo4Purch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RebNo4Purch)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SD630HeadwallId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
